body{
    background-color:antiquewhite;
}

#container {
    margin: 0 auto;
    width:900px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
header {
   
    height: 200px;
    border-bottom: black 2px solid;
}
header img {
    float:left;
}
header h1 {
    text-align: center;
}

header nav ul{

    list-style-type:none;
    /*border: 1px solid red; */
    padding-left: 0;
    text-align: right;
}

header nav li {
    /* border: 1px solid green;*/
    width: 150px;
    display: inline-block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 22px;


}

header nav li a:link {
    color:dodgerblue;
    text-decoration: none;
}

header nav li a:visited {

    color: dodgerblue;
}

header nav li a:hover {
    color: steelblue;
    text-decoration: underline;
}

header nav li a:active {

    color:tomato;
    text-decoration: none;
}

main {
    
    height: 200px;
    border-bottom: black 2px solid;
}


footer {
    
    height: 200px;
    border-bottom: black 2px solid;
    background-color: black;
    color:white;
    
}
 footer p {

    margin-block-start: 0;
    margin-block-end: 0;



 }

 #copyright {

    text-align: center;
    t
 }